<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4">
          Task list
        </div>
        <div class="col-md-6">
          <%= form_tag tasks_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            </p>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if can? :create, @task %> 
            <%= link_to 'Create New task', new_task_path ,:class=>"btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Owner </th>
              <th>Assigned </th>
              <th>Project</th>
              <th>Status</th>
              <th colspan="3">Actions </th>
            </tr>
          </thead>
          <% @num = 1 %>
          <tbody>
            <% @tasks.each do |task| %>
              <% if current_user.role != "client" %>
                <% if task.project.created_by != "client" %>
                  <% if task.priority == "High" %>
                    <tr class="danger">
                  <% elsif task.priority == "Medium" %>
                    <tr class="warning">
                  <% elsif task.priority == "Low" %>
                    <tr class="info">
                  <% else %>
                    <tr class="info">
                  <% end%>   
                      <td><%= @num %></td>
                      <td><%= task.name.capitalize %></td>
                      <td><%= task.created_by_id.present? ? full_name(User.find(task.created_by_id)) : ""%></td>
                      <td><%= task.assign_task_user_id.present? ? full_name(User.find(task.assign_task_user_id)) : ""%></td>
                      <td><%= task.project.present? ? task.project.name.capitalize : ""%></td>
                      <td><%= task.status.capitalize %></td>
                      <% if can? :read, task %> 
                        <td><%= link_to 'Show', task %></td>
                      <% end %>
                      <% if can? :edit, task %>
                        <td><%= link_to 'Edit', edit_task_path(task) %></td>
                      <% end %>
                      <% if can? :destroy, task %> 
                        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tr>
                    <% @num += 1 %>             
                <% end %>
              <% else %>
                 <% if task.priority == "High" %>
                    <tr class="danger">
                  <% elsif task.priority == "Medium" %>
                    <tr class="warning">
                  <% elsif task.priority == "Low" %>
                    <tr class="info">
                  <% else %>
                    <tr class="info">
                  <% end %>   
                      <td><%= @num %></td>
                      <td><%= task.name %></td>
                      <td><%= task.created_by_id.present? ? full_name(User.find(task.created_by_id)) : ""%></td>
                      <td><%= task.assign_task_user_id.present? ? full_name(User.find(task.assign_task_user_id)) : ""%></td>
                      <td><%= task.project.present? ? task.project.name : ""%></td>
                      <% if can? :read, task %> 
                        <td><%= link_to 'Show', task %></td>
                      <% end %>
                      <% if can? :edit, task %>
                        <td><%= link_to 'Edit', edit_task_path(task) %></td>
                      <% end %>
                      <% if can? :destroy, task %> 
                        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tr>
                  <% @num += 1 %>             
              <% end %>
              
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <p id="notice"><%#= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @tasks.each do |task| %>
      <tr>
        <td><%#= task.name %></td>
        <td><%#= link_to 'Show', task %></td>
        <td><%#= link_to 'Edit', edit_task_path(task) %></td>
        <td><%#= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Task', new_task_path %>
 --> 