<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Profile
      </div>
      <div class="panel-body">
      	<p>
        	<b>Profile Pic : </b>
        	<%= image_tag @user.photo.url(:small) ,:width => "100" %> 
        </p>
        <br>
        <p>
        	<b>First Name : </b>
        	<%= full_name(@user) %>
        </p>
        <br>
        <p>
        	<b>First Name : </b>
        	<%= @user.firstname %>
        </p>
        <br>
        <p>
        	<b>Last Name : </b>
        	<%= @user.lastname %>
        </p>
        <br>
        <p>
        	<b>Email : </b>
        	<%= @user.email %>
        </p>
        <br>
        <p>
        	<b>Phone Number : </b>
        	<%= @user.phone_number %>
        </p>
        <br>
         <p>
          <b>User Role : </b>
          <%= @user.role %>
        </p>
        <br>
         <p>
          <b>Notification with email : </b>
          <%= @user.is_turn_on %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 
<p id="notice"><%#= notice %></p>
<%#= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'Back', users_path %>
 -->