<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/metisMenu.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/assets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="/assets/images/font-awesome.css" rel="stylesheet" type="text/css"> -->

    <style>
      *{
        box-sizing: border-box;
      }

      .columns {
        float: left;
        width: 33.3%;
        padding: 8px;
      }

      .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }

      .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }

      .price .header {
        background-color: #111;
        color: white;
        font-size: 25px;
      }

      .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
      }

      .price .grey {
        background-color: #eee;
        font-size: 20px;
      }

      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
      }

      @media only screen and (max-width: 600px) {
        .columns {
            width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
        <div id="page-wrapper">
          <%= yield %>
        </div>
      <% else %>
        <div class="container">
          <% if notice.present? %>
            <div class="col-lg-12 alert-success" style="padding: 7px 0px 0px 0px ; margin: 10px 19px -50px 5px; text-align-last: center; border-radius: 50px;">
              <p id="notice"><%= notice %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      <% end %>
    </div>
   
       <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/metisMenu.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/assets/raphael.js"></script>
    <script src="/assets/morris.min.js"></script>
    <!-- <script src="/assets/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/assets/sb-admin-2.js"></script>

    <script type="text/javascript">
      $(function() {
        setTimeout(function() {
            $("#notify").hide();
        }, 5000);
      });

    </script>
  </body>
</html>